body {
    background-color: rgba(147, 172, 149, 0.2);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    margin-top: 70px;
}

.contents {
    margin-bottom: 215px;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    font-size: 30px;
    margin-bottom: 20px;
}

input[type="button"],input[type="submit"]  {
    border: lightseagreen solid 1px;
    text-align: center;
    width: 200px;
    font-weight: bold;
    background-image: linear-gradient(lightseagreen, #207c74);
    color: white;
}

input[type="button"]:active,input[type="submit"]:active {
    background-image: radial-gradient(#207c74, #1f5951);
}

input[type="button"],input[type="submit"],input[type="checkbox"], input[type="radio"], select:hover {
    cursor: pointer;
}

input {
    padding: 0.5em;
    margin: 0.5em 0;
    border: lightseagreen solid 1px;
    border-radius: 3px;
    color: dimgrey;
    width: 185px;
}

.form {
    /*border-radius: 5px;*/
    /*background-color: #f2f2f2;*/
    display: flex;
    height: 320px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

form {
    border-radius: 10px;
    background-color: white;
    /*background-color: #f2f2f2;*/
    width: 200px;
    height: 320px;
    box-shadow: 0 0 10px grey;
    padding: 20px 50px;
}

.logIN-button {
    display: flex;
    justify-content: center;
    width: 100%;
}